*~
*.frame*.pp
*unner
*.lo
*.la
*.moc
*.o
*.out
*.bak
*.deb
*.dsc
*.changes
*.tar.gz
*-attempt-install-dependencies.sh
testsuite/*/*est
testsuite/*/*est[0-9]
testsuite/*/*est[0-9][0-9]
testsuite/misc-ming.all/*/*est
testsuite/misc-ming.all/*/*est[0-9]
testsuite/misc-ming.all/*/*est[0-9][0-9]
plugin/npapi/test
desktop/gnash-gtk-launcher
desktop/gnash-qt-launcher
.configline
.deps
.lastmod
.libs
aclocal.m4
autom4te.cache
bzrversion.h
compile
config.guess
config.log
config.status
config.sub
configure
cygnal/testsuite/cygnal.all/cygnalrc
deb-copy-stamp
doc/C/*.1
doc/C/*.html
doc/C/*.info
doc/Doxyfile
gnashconfig.h
gnashconfig.h.in
gnash.pc
gnash-*/
gui/*gnash
gui/fb/fb-gnash
gui/dump/dump-gnash
gui/*.gcda
gui/Info.plist
gui/pythonmod/gen-gnash.c
libbase/gnashpluginrc
libbase/gnashrc
libnet/gnash.log
libnet/gnash.sum
ltmain.sh
libtool
macros/argz.m4
macros/libtool.m4
macros/lt*.m4
Makefile
Makefile.in
po/*.gmo
py-compile
revno.h
site.exp
stamp-h1
testoutlog.*
testrun.log
testrun.sum
testsuite/actionscript.all/require-ming
testsuite/actionscript.all/*.swf
testsuite/as3compile.all/pp_*.as
testsuite/as3compile.all/*.swf
testsuite/Dejagnu.swf
testsuite/gnashrc
testsuite/libamf.all/test_amf
testsuite/libamf.all/test_amfmsg
testsuite/libamf.all/test_buffer
testsuite/libamf.all/test_el
testsuite/libamf.all/test_flv
testsuite/libamf.all/test_lc
testsuite/libamf.all/testout.sol
testsuite/libamf.all/test_sol
testsuite/libbase.all/gnashrc
testsuite/libbase.all/gnashrc-local
testsuite/libbase.all/NoSeekFileTestCache
testsuite/libbase/gnashrc
testsuite/libbase/gnashrc-local
testsuite/libbase/NoSeekFileTestCache
testsuite/libcore.all/ClassSizes
testsuite/libnet.all/*.bin
testsuite/libnet.all/fooBar1
testsuite/libnet.all/generate_amfbins
testsuite/libnet.all/test_cache
testsuite/libnet.all/test_cque
testsuite/libnet.all/test_diskstream
testsuite/libnet.all/test_handler
testsuite/libnet.all/test_http
testsuite/libnet.all/test_rtmp
testsuite/misc-haxe.all/classes.all/*.swf
testsuite/misc-haxe.all/PP_*
testsuite/misc-haxe.all/*.swf
testsuite/misc-ming.all/action_order/*.swf
testsuite/misc-ming.all/action_order/PlaceAndRemove
testsuite/misc-ming.all/BeginBitmapFill
testsuite/misc-ming.all/BitmapDataDraw
testsuite/misc-ming.all/definebitsjpeg2
testsuite/misc-ming.all/Dejagnu
testsuite/misc-ming.all/displaylist_depths/*.swf
testsuite/misc-ming.all/init_action/*.swf
testsuite/misc-ming.all/KeyEventOrder
testsuite/misc-ming.all/loading/*.swf
testsuite/misc-ming.all/loop/*.swf
testsuite/misc-ming.all/register_class/*.swf
testsuite/misc-ming.all/spritehier
testsuite/misc-ming.all/static_vs_dynamic1
testsuite/misc-ming.all/static_vs_dynamic2
testsuite/misc-ming.all/*.swf
testsuite/misc-ming.all/XMLSocketTester
testsuite/misc-mtasc.all/pp_*.as
testsuite/misc-mtasc.all/*.swf
testsuite/misc-swfc.all/pp_*.sc
testsuite/misc-swfc.all/*.swf
testsuite/misc-swfmill.all/*.swf
testsuite/misc-swfmill.all/trace-as2/*.swf
testsuite/swfdec/*.err
testsuite/swfdec/*.log
testsuite/swfdec/run_swfdec_testsuite_*
testsuite/swfdec/*.trace-gnash
testsuite/swfdec/src
testsuite/tmpSharedObject
utilities/dumpshm
utilities/findmicrophones
utilities/findwebcams
utilities/flvdumper
utilities/gprocessor
utilities/rtmpget
utilities/soldumper
extensions/fileio/test.swf
