Source: gnash
Priority: optional
Maintainer: Rob Savoye (Rollinsville, CO) <rob@welcomehome.org>
Build-Depends: dpkg-dev (>= 1.13.19),
	       debhelper (>= 7.0.0), 
	       autoconf, automake, libtool,
	       libxmu-dev,
	       autotools-dev,
	       libjpeg-dev,
	       libpng12-dev | libpng-dev,
	       libagg-dev,
	       libpango1.0-dev | pango-dev,
	       libcurl4-openssl-dev | libcurl4-gnutls-dev,
	       libboost-dev, 
	       libboost-program-options-dev,
	       libboost-thread-dev,
	       libboost-date-time-dev,
	       libgtk2.0-dev, 
	       libatk1.0-dev,
	       kdelibs5-dev | kdelibs-dev,
	       kdelibs-bin,
	       libqt4-dev,
	       qt4-qmake,
	       docbook,
	       docbook2x,
	       libgif-dev,
	       libgstreamer-plugins-base0.10-dev,
	       libgstreamer0.10-dev | gstreamer0.10-dev,
	       libsdl1.2-dev,
	       intltool, 
	       intltool-debian,
	       libmysqlclient-dev,
	       libavformat-dev,
	       libavcodec-dev,
	       libavutil-dev,
	       libswscale-dev,
	       lsb-release,
	       xulrunner-dev | firefox-dev
# OpenGL packages are disabled for now
# libgl1-mesa-dev, libglu1-mesa-dev, libgtkglext1-dev, libqt4-opengl-dev, 
Standards-Version: 3.8.4
Section: utils
Homepage: http://www.gnu.org/software/gnash/


Package: gnash-common
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 gstreamer-plugins-base | libgstreamer-plugins-base0.10-0, gstreamer0.10-plugins-bad, gstreamer0.10-ffmpeg, libxv1
# OpenGL packages are disabled for now
# libgtkglext1
Suggests: browser-plugin-gnash (= ${binary:Version}), gnash-lirc-extension (= ${binary:Version}),  gnash-fileio-extension (= ${binary:Version}),  gnash-mysql-extension (= ${binary:Version})
Conflicts: libgnash0 (<< 0.8.1~), gnash (<< 0.8.1~), libklash0 (<< 0.8.1~), gnash-common-opengl
Description: free SWF movie player - common files/libraries
 Gnash is a free Flash movie player, which works either standalone, or as
 plugin for Firefox/Mozilla, Konqueror, or Chromium.
 .
 This package includes the common, gui-independent files/libraries

Package: gnash
Section: utils
Architecture: any
Conflicts: gnash-opengl
Depends: gnash-common (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: free SWF movie player
 Gnash is a free Flash movie player, which works either standalone, or as
 plugin for Firefox/Mozilla, Konqueror, or Chromium. Currently it is in a beta state.
 .
 Gnash supports the majority of Flash opcodes up to SWF version 8, and
 a wide sampling of ActionScript classes for SWF version 9 and 10. All the
 core ones are implemented, and many of the newer ones work, but may be
 missing some of their methods.
 .
 This package includes the standalone GTK+-based player that uses software
 rendering.

Package: klash
Section: utils
Architecture: any
Conflicts: klash-opengl
Depends: gnash-common (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: free SWF movie player - standalone player for KDE
 Gnash is a free Flash movie player, which works either standalone, or as
 plugin for Firefox/Mozilla, Konqueror, or Chromium. Currently it is in a beta state.
 .
 Gnash supports the majority of Flash opcodes up to SWF version 8, and
 a wide sampling of ActionScript classes for SWF version 9 and 10. All the
 core ones are implemented, and many of the newer ones work, but may be
 missing some of their methods.
 .
 Klash is a free standalone Flash movie player for KDE.

Package: gnash-tools
Section: utils
Architecture: any
Depends: gnash-common (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: free SWF movie player - Command-line Tools
 Gnash is a free Flash movie player, which works either standalone, or as
 plugin for Firefox/Mozilla, Konqueror, or Chromium. Currently it is in a beta state.
 .
 Gnash supports the majority of Flash opcodes up to SWF version 8, and
 a wide sampling of ActionScript classes for SWF version 9 and 10. All the
 core ones are implemented, and many of the newer ones work, but may be
 missing some of their methods.
 .
 This package includes command-line utilities based in gnash.

Package: gnash-cygnal
Section: utils
Architecture: any
Depends: gnash-common (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: free SWF movie player - Media server
 Gnash is a free Flash movie player, which works either standalone, or as
 plugin for Firefox/Mozilla, Konqueror, or Chromium. Currently it is in a beta state.
 .
 Gnash supports the majority of Flash opcodes up to SWF version 8, and
 a wide sampling of ActionScript classes for SWF version 9 and 10. All the
 core ones are implemented, and many of the newer ones work, but may be
 missing some of their methods.
 .
 Cygnal is Gnash's media server.

Package: browser-plugin-gnash
Section: utils
Architecture: any
Conflicts: mozilla-plugin-gnash
Depends: gnash (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Xb-Npp-Applications: ec8030f7-c20a-464f-9b0e-13a3a9e97384,92650c4d-4b8e-4d2a-b7eb-24ecf4f6b63a,aa5ca914-c309-495d-91cf-3141bbb04115
Xb-Npp-MimeType: application/x-shockwave-flash
Xb-Npp-Name: Gnash SWF Player
Description: free SWF movie player - Plugin for Mozilla and derivatives
 Gnash is a free Flash movie player, which works either standalone, or as
 plugin for Firefox/Mozilla, Konqueror, or Chromium.
 .
 This package includes the plugin for Firefox/Mozilla/Chromium Web Browser.

Package: konqueror-plugin-gnash
Section: utils
Architecture: any
Depends: klash (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: free SWF movie player - Plugin for Konqueror
 Gnash is a free Flash movie player, which works either standalone, or as
 plugin for Firefox/Mozilla, Konqueror, or Chromium.
 .
 This package includes the plugin for Konqueror.

Package: gnash-dev
Section: utils
Architecture: any
Depends: gnash-common (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: free SWF movie player - Development files
 Gnash is a free Flash movie player, which works either standalone, or as
 plugin for Firefox/Mozilla, Konqueror, or Chromium. Currently it is in a beta state.
 .
 Gnash supports the majority of Flash opcodes up to SWF version 8, and
 a wide sampling of ActionScript classes for SWF version 9 and 10. All the
 core ones are implemented, and many of the newer ones work, but may be
 missing some of their methods.
 .
 This package includes the header files used for gnash development.

Package: gnash-dbg
Architecture: any
Section: debug
Priority: extra
Depends: gnash-common (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: Debug symbols for Gnash
 Gnash is a free Flash movie player, which works either standalone, or as
 plugin for Firefox/Mozilla, Konqueror, or Chromium. Currently it is in a beta state.
 The plugins are under heavy development at this time.
 .
 Gnash supports the majority of Flash opcodes up to SWF version 7, and
 a wide sampling of ActionScript classes for SWF version 8.5. All the
 core ones are implemented, and many of the newer ones work, but may be
 missing some of their methods.
 .
 Included in the Gnash is an XML based messaging system, as specified in
 the Flash specification. This lets a flash movie communicate over a TCP/IP
 socket, and parse the incoming XML message. This lets a movie be a remote
 control for other devices or applications.

Package: gnash-framebuffer
Architecture: any
Section: utils
Priority: extra
Depends: gnash-common (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: Standalone Gnash for a Linux Framebuffer.
 This package let one play SWF files in a Framebuffer using the standalone
 version of Gnash.

Package: gnash-dump
Architecture: any
Section: utils
Priority: extra
Depends: gnash-common (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: Standalone Gnash that dumps frames to disk.
 This package let one record screenshots of SWF files to disk using
 the standalone version of Gnash.

Package: gnash-fileio-extension
Architecture: any
Section: utils
Priority: extra
Depends: gnash-common (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: Fileio extension for Gnash
 This extension allows SWF files being played within Gnash to have direct access
 to the file system. The API is similar to the C library one.

Package: gnash-mysql-extension
Architecture: any
Section: utils
Priority: extra
Depends: gnash-common (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: MySQL extension for Gnash
 This extension allows SWF files being played within Gnash to have direct access
 to a MySQL database. The API is similar to the standard MySQL one.

Package: gnash-lirc-extension
Architecture: any
Section: utils
Priority: extra
Depends: gnash-common (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: LIRC extension for Gnash
 This extension allows SWF files being played within Gnash to have direct access
 to a LIRC based remote control device. The API is similar to the standard
 LIRC one.
