[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gnash SWF Viewer
Name[fi]=Gnash-SWF-katselin
GenericName=
Comment=
Icon=/usr/share/pixmaps/gnash.xpm
Exec=/usr/bin/gnash
Terminal=false
Categories=Application;AudioVideo;
