# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kmplayer -caption "%c" %i %m %U
Icon=kmplayer.png
DocPath=kmplayer/index.html
Comment=KDE interface for Gnash
Comment[ar]=واجهة كيدي لـ Gnash
Comment[bg]=KDE интерфейс за Gnash
Comment[br]=Etrefas Gnash evit KDE
Comment[bs]=KDE interfejs za Gnash
Comment[ca]=Interfície KDE per a Gnash
Comment[cs]=KDE rozhraní pro Gnash
Comment[da]=KDE-grænseflade for Gnash
Comment[de]=KDE-Oberfläche für Gnash
Comment[el]=Περιβάλλον χρήσης του Gnash για το KDE
Comment[es]=Interfaz KDE para Gnash
Comment[et]=KDE Gnashi liides
Comment[fi]=KDE-käyttöliittymä Gnashille
Comment[fr]=Une interface de Gnash pour KDE
Comment[he]=ממשק KDE של Gnash
Comment[hi]=एमप्लेयर हेतु केडीई इंटरफेस
Comment[hu]=KDE-alapú felület az Gnashhez
Comment[it]=Interfaccia KDE per Gnash
Comment[nb]=KDE-grensesnitt for Gnash
Comment[nl]=KDE-interface voor Gnash
Comment[pa]=Gnash ਲਈ KDE ਇੰਟਰਫੇਸ
Comment[pt]=Interface KDE para o Gnash
Comment[pt_BR]=Interface do KDE para o Gnash
Comment[ru]=Интерфейс KDE для Gnash
Comment[sr]=KDE-ов интерфејс за Gnash
Comment[sr@Latn]=KDE-ov interfejs za Gnash
Comment[sv]=KDE-gränssnitt för Mplayer
Comment[ta]=எம் இயக்கிக்கான கேடீஇ இடைமுகம்
Comment[tr]=Gnash için KDE arayüzü
Comment[xx]=xxKDE interface for Gnashxx
Comment[zh_CN]=Gnash 的 KDE 界面
Terminal=false
Name=KGnash
Name[hi]=केएमप्लेयर
Name[hu]=KMPLayer
Name[sv]=Kmplayer
Name[ta]=கேஎம்இயக்கி
Name[xx]=xxKGnashxx
MimeType=application/x-shockwave-flash;
InitialPreference=7
Categories=Qt;KDE;AudioVideo;
GenericName=Media Player
GenericName[bg]=Медия плеър
GenericName[br]=Soner liesvedia
GenericName[ca]=Reproductor de medis
GenericName[cs]=Přehrávač médií
GenericName[cy]=Chwaraeydd Cyfryngau
GenericName[da]=Medieafspiller
GenericName[el]=Αναπαραγωγή πολυμέσων
GenericName[es]=Reproductor multimedia
GenericName[et]=Meediamängija
GenericName[fr]=Lecteur multimédia
GenericName[ga]=Seinnteoir Meán
GenericName[he]=נגן מדיה
GenericName[hi]=मीडिया प्लेयर
GenericName[hu]=Médialejátszó
GenericName[it]=Lettore multimediale
GenericName[lt]=Media grotuvas
GenericName[mk]=Изведувач на мултимедиа
GenericName[nb]=Mediaspiller
GenericName[nl]=Mediaspeler
GenericName[pa]=ਮੀਡਿਆ ਪਲੇਅਰ
GenericName[pt]=Leitor Multimédia
GenericName[pt_BR]=Reprodutor de Mídia
GenericName[ru]=Медиаплеер
GenericName[sr]=Медија плејер
GenericName[sr@Latn]=Medija plejer
GenericName[sv]=Mediaspelare
GenericName[tr]=Medya Oynatıcı
GenericName[xh]=Umdlali we Midia
GenericName[xx]=xxMedia Playerxx
GenericName[zh_CN]=媒体播放器
GenericName[zu]=Umdlali Wezezindaba
