[Desktop Entry]
Type=Application
Name=Gnash SWF Viewer
GenericName=SWF Viewer
Comment=View SWF Files
Icon=gnash
Exec=gnash %U
Terminal=false
Categories=AudioVideo;Video;Player;GTK;
MimeType=application/x-shockwave-flash;application/futuresplash;
